#cadastro-itens {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.6rem;
    /* background-color: #fafafa; */
}

#form-cadastro-item>h2 {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3rem;
}

.cadastro_item {
    margin: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    /* color: black; */

    max-width: 800px;
    min-width: 330px;
    width: 90%;

    padding: 6rem 1rem;
    border: 3px solid rgb(80, 67, 161);
    border-radius: 2rem;
    background-color: var(--cinza);
}

.cadastro_item div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;
    
}

.cadastro_item div input, select {
    font-size: 1.6rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    padding: 0.8rem 2rem;
    width: 350px;
    /* background-color: var(--cinza-claro); */
    background-color: #0f0e17;
    color: white;
}

.cadastro_item div input:focus {
    border: 1px solid var(--roxo);
    outline: none;
}
.cadastro_item label{
    color: rgb(170, 170, 170);
    font-size: 1.3rem;
    font-weight: 600;
    
}
.cadastro_item label.imagem-capa-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    height: 15rem;
    width: 386px;
    border: 2px dashed rgb(113, 105, 162);
    border-radius: 2rem;
}

#imagem-capa {
    display: none;
    /* border: none; */
}

#imagem-capa-msg {
    cursor: pointer;
    padding: 1rem;
    width: 350px;
    text-align: center;
    border-radius: 2rem;
    font-size: 1.5rem;
}

#selected-filename-label.file {
    color: rgb(80, 172, 80);
    font-weight: 700;
}

#selected-filename-label.nofile {
    color: rgb(210, 77, 99);
    font-weight: 700;
}

select {
    box-sizing: content-box;
}

span.imagem-capa-icon {
    font-size: 68px;
    color: rgb(113, 113, 236);
}
#btn_cadastro_item {
    background-color: rgb(163, 77, 255);
    color: white;
    border: none;
    padding: 2rem 6rem;
    width: 386px;
    border-radius: 1rem;
    margin-top: 4rem;
    font-size: 2.4rem;
    cursor: pointer;
}
hr {
    width: 386px;
    border: 1px solid rgb(76, 75, 79);
    margin: 2rem 0;
}	
