/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100vw;
    list-style: none;
}

body {
    margin-top: 30px;
    display: flex;
    justify-content: center;

} */


.livros{
    padding: 3rem 5rem;
}

.card{
    color: white;
    display: flex;
    align-items: top;
    justify-content: center;   
    border-radius: 10px;
    width: max-content;
    font-size: 2rem;
    height: 300px;
}
.card .title{
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-justify: justify;
}

.card .book-img {
    height: 300px;
    width: auto;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
}
.carousel {
    background-color: var(--cinza);
    width: 100%;
}
.carousel > img{
    width: 100%;
    object-fit: cover;
}
.book-cover{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.book-hover{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: fit-content;
    height: 300px;
    background: rgba(0, 0, 0, 0);   
    padding: 0 1rem; 
    
    
}
.buy {
    padding: 0.8rem 1.2rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.6rem;
}

.livros{
    padding: 3rem 5rem;
}

.card{
    color: white;
    display: flex;
    align-items: top;
    justify-content: center;   
    border-radius: 10px;
    width: max-content;
    font-size: 2rem;
    height: 300px;
}
.card .title{
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-justify: justify;
}

.card .book-img {
    height: 300px;
    width: auto;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
}
.carousel {
    background-color: var(--cinza);
    width: 100%;
}
.carousel > img{
    width: 100%;
    object-fit: cover;
}
.book-cover{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.book-cover :hover{
   
}
.book-hover{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: fit-content;
    height: 300px;
    background: rgba(0, 0, 0, 0);   
    padding: 0 1rem; 
    
    
}
.buy {
    padding: 0.8rem 1.2rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.6rem;
}

.carrossel-livros {
    margin-top: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    max-width: 100%;
    width: none;
}

.galeria-livros {
    display: flex;
    gap: 20px;
    /* width: 100%; */
    max-width: 80vw;

    overflow-x: hidden;
    overflow-y: hidden;

    align-items: center;
}

.galeria-livros div.duplinha {
    display: flex;
    flex-flow: row;
    width: 825px;
    gap: 20px;
    justify-content: space-between;
}

.card .livroCarrossel {
    width: 200px;
    height: 300px;
}


.btn_left,
.btn_right {
    top: 0;
    padding: 0;
    bottom: 0;
    cursor: pointer;
    border: none;
    background: none;
    color: black;
    /* font-size: 45px; */
    /* font-family: Nanum Gothic; */
    /* padding: 10px 5px; */
}

.btn_right {
    left: auto;
    right: 0;
}

.galeria-livros li.card {
    position: relative;
    display: flex;
}

div.cardSobreposicao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    color: white;
    flex-wrap: wrap;
    width: 200px;
    height: 300px;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.778) 10%, rgb(20, 15, 37));
    opacity: 0;
    gap: 10px;
    text-shadow: 1px 1px 2px black;
}

.cardSobreposicao .author {
    font-size: 1.4rem;
    font-weight: 400;
    color: aliceblue;

    font-style: italic;
    margin-top: 5px;
}

.cardSobreposicao .editora {
    font-size: 1.2rem;
    font-weight: 400;
    color: aliceblue;

    margin-bottom: 5px; 
}

.cardSobreposicao .editora {
    font-size: 1.2rem;
    font-weight: 400;
    color: aliceblue;

    margin-bottom: 5px; 
}
.cardSobreposicao .buy {
    font-size: 1.2rem;
    font-weight: 400;
    color: black;

}


div.cardSobreposicao h2 {
    margin-top: 50px;
    color: aliceblue;
}

div.cardSobreposicao:hover {
    cursor: pointer;
    opacity: 1;
}

/*#galeria-livros .ativo>.cardSobreposicao {
    display: flex;
}*/
.seta{
    color: white;
    font-size: 100px !important;
}