:root{
    font-size: 10px;
}
main{
    width: 100%;
    height: 100%;
    color: black;
    background-color: var(--cinza);
}

.livros{
    padding: 3rem 5rem;
}

.card{
    color: white;
    display: flex;
    align-items: top;
    justify-content: center;   
    border-radius: 10px;
    width: max-content;
    font-size: 2rem;
    height: 300px;
}
.card .title{
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-justify: justify;
}

.card .book-img {
    height: 300px;
    width: auto;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
}
.carousel {
    background-color: var(--cinza);
}
.book-cover{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.book-cover :hover{
   
}
.book-hover{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: fit-content;
    height: 300px;
    background: rgba(0, 0, 0, 0);   
    padding: 0 1rem; 
    
    
}
.buy {
    padding: 0.8rem 1.2rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.6rem;
}