:root{
    font-size: 10px;
    --cinza: rgb(26, 25, 40);
    --cinza-tranparente: rgba(26, 25, 40, 0.902);
}


body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.hidden {
    display: none !important;
}